<%= render partial: 'menu' %>

<div class='admin-container'>
  <h3>Votes in the last 7 days</h3>
  <div id='graph'></div>
</div>

<%= content_for :javascripts do %>
  <script>
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'graph',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
        <% @votes_per_day.each do |data| %>
          { date: '<%= data[0] %>', votes: '<%= data[1] %>' },
        <% end %>
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'date',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['votes'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Value'],

      lineColors: ['green'],

      xLabels: 'day',

      xLabelFormat: function(d) {
        return d.getDate() + '/' + (d.getMonth()+1) + '/' + d.getFullYear();
      },

      dateFormat: function(strDate) {
        var d = new Date(strDate);
        return d.getDate() + '/' + (d.getMonth()+1) + '/' + d.getFullYear();
      }
    });
  </script>
<% end %>