<h2 id='highlights'>Destaques</h2>

<% @carousel.each do |election| %>
  <%= render 'cards/election', election: election %>
<% end %>

<h2 id='last-elections'>Mais recentes</h2>

<% @elections.each do |election| %>
  <%= render 'cards/election', election: election %>
<% end %>