<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>

<div class="container" ng-controller='ElectionController as election'>
  <div class='row election-header'>
    <div class='col-md-12'>
      <h2 class='text-center'>Título</h2>
    </div>
  </div>

  <div class='row' id='election' ng-show='election.has_combination'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
      <section id='versus'>
        <%#= render partial: 'elections/candidate_panel', locals: { position: 'left' } %>

        <div id='center'> X </div>

        <%#= render partial: 'elections/candidate_panel', locals: { position: 'right' } %>

        <div id='bottom'>
          <button data-next-candidates id='next-candidates' data-ga-event='Election, Pular esse duelo'>Pular esse duelo</button>
          <div data-votes-counter>Você ainda não votou</div>
        </div>
      </section>
      <div class='col-md-1'></div>
    </div>
  </div>
</div>

<div class='row'>
  <section id='ranking'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class='head-left pull-left bold'>Classificação</div>
      <div class='total pull-right light-gray'>Total de votos: <span>10</span></div>
      <div id='top-candidates'>
      </div>
    </div>
    <div class='col-md-2'></div>
  </section>
</div>