.admin-container {
  margin-top: 10px;
  min-height: 510px;

  .icon {
    width: 25px;
    padding: 5px;
  }

  .btn {
    color: #fff;

    .fa-plus {
      color: #fff;
    }
  }

  .btn-white {
    color: #000;
  }

  .fa-trash-o {
    color: #b43030;
  }

  .fa-plus {
    color: #439A43;
  }

  form {
    padding: 10px;
    border-left: 2px solid #5B8A8C;
  }
}

#category_name, #category_parent_id, #election_title, #election_category_id {
  width: 415px;
}

#admin-tabs {
  margin-top: 70px;
}

#admin-tabs .active i {
  color: #008000;
}
