@import 'mixins/media-queries';

#election {
  margin-bottom: 15px;

  #left {
    margin-right: 20px;
  }

  #center {
    font-size: 100px;
    padding-top: 200px;
    font-weight: bold;
    float: left;
    margin-right: 20px;
    width: 100px;
    height: 420px;
  }

  #bottom {
    width: 100%;
    clear: both;
    text-align: center;

    div {
      font-weight: bold;
    }
  }

  .img {
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
  }
}

#next-candidates {
  margin-top: 20px;
  border: none;
  color: #fff;
  background-color: #333333;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px;
  margin-bottom: 5px;
}

#versus {
  margin: 0 auto;
  text-align: center;
  width: 740px;
  height: 100%;

  .subtitle {
    background-color: #616161;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    width: 300px;
    line-height: 24px;
  }

  .attribution {
    width: 300px;
  }
}

#ranking {
  background-color: #d8d8d8;
  min-height: 500px;
  color: #333;
  float: left;
  width: 100%;

  .head-left {
    margin-top: 30px;
    font-size: 27px;
    width: 100px;
  }

  .total {
    font-size: 20px;
    margin-top: 30px;

    span {
      font-weight: bold;
    }
  }
}

#top-candidates {
  margin-top: 70px;

  .candidate {
    clear: both;
    width: 100%;
    height: 150px;
    margin: 5px;

    .list {
      font-family: 'arial';
      line-height: 1;
      height: 100%;
    }

    .position {
      font-size: 50px;
      padding-top: 48px;
      padding-left: 15px;
    }

    .info {
      height: 100%;

      span {
        line-height: 1;
        display: block;
      }
    }

    .img {
      background-size: 130%;
      background-position: center center;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-left: 40px;
      margin-top: 24px;
      background-repeat: no-repeat;
      background-color: #000;
    }

    div.info {
      font-size: 22px;
      padding: 50px 0 0 20px;
      margin-left: 30px;
    }

    div {
      float: left;
    }

    &.top-one {
      .position {
        font-size: 100px;
        padding-top: 30px;
        padding-left: 0;
      }

      .img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin-top: 5px;
        margin-left: 55px;
        background-repeat: no-repeat;
        background-color: #000;
      }

      div.info {
        font-size: 25px;
        padding: 35px 0 0 40px;
        margin-left: 65px;
      }
    }
  }
}


.bold {
  font-weight: bold;
}

.light-gray {
  color: #616161;
}

.candidate-panel {
  border-radius: 10px;
  float: left;

  .img {
    width: 300px;
    height: 420px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-color: #000;
    border-radius: 10px 10px 0 0;
  }

  .circle-vote {
    top: 150px;
    left: 90px;
  }
}

@include tablet-only {
  #top-candidates {
    .candidate {
      .img {
        width: 100px;
        height: 100px;
        margin-left: 0;
      }

      .position {
        font-size: 45px;
      }

      div.info {
        padding-left: 15px;
        margin-left: -25px;
      }

      &.top-one {
        .img {
          width: 120px;
          height: 120px;
          margin-left: -20px;
          margin-top: 12px;
        }

        .position {
          font-size: 80px;
        }

        div.info {
          margin-left: -50px;
        }

      }
    }
  }
}

@include mobile-only {
  .total, #ranking .head-left {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  #top-candidates {
    .candidate {
      .img {
        margin: 23px 0 0 0;
        width: 80px !important;
        height: 80px !important;
      }

      .position {
        font-size: 30px;
        padding: 0;
        margin: 40px 0 0 0;
      }

      div.info {
        padding-left: 0px;
        margin-left: 0px;
        font-size: 18px !important;
      }

      &.top-one {
        padding-top: 30px;

        div.info {
          padding-left: 0px;
          margin-left: 0px;
        }

        .img {
          margin: 15px 0 0 0;
        }

        .position {
          font-size: 30px;
          margin: 0;
        }
      }
    }
  }
}