#election #left {
  float: left;
  margin-right: 20px;
  width: 300px;
  height: 420px;
}

#election #right {
  float: left;
  width: 300px;
  height: 420px;
}

#election #center {
  font-size: 100px;
  padding-top: 200px;
  font-weight: bold;
  float: left;
  margin-right: 20px;
  width: 100px;
  height: 420px;
}

#election #bottom {
  width: 100%;
  clear: both;
  text-align: center;
}

#next-candidates {
  margin-top: 20px;
}

#versus {
  margin: 0 auto;
  text-align: center;
  width: 740px;
  height: 100%;
}

#versus img {
  border-radius: 10px 10px 0 0;
}

#versus .subtitle {
  height: 50px;
  background-color: #616161;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 19px;
  padding-top: 15px;
}